/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/build
/dist
.DS_Store
/tags
/app/Config/acl.ini.php
/app/Config/email.php.default
/app/Config/Schema/
/app/Config/acl.php
/app/Config/database.php
/app/Config/bootstrap.php
/app/Config/core.php
/nbproject/private/
