/*
    Document   : layout.menu
    Created on : 20-07-2012, 13:20:03
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/

div.menu{
	float:right;
	margin:0 10px;
}

div.menu > ul{
	margin: 0;
}

div.menu > ul:hover{
	background: rgba(0,0,0, .3);
}

div.menu > ul > li.menuItemTop{
	float: left;
}

div.menu > ul > li.menuItemTop > a{
	padding: 11px 20px 12px;
}

div.menu ul li{
	list-style: none;
}

div.menu > ul li a{
	display: block;
	padding: 5px 15px 7px;

	font-weight: bold;
	color:#DDD;
	text-decoration: none;
}

div.menu > ul li a:hover{
	color:#fff;
}

div.menu > ul > li:hover > a{
	background-color: rgba(0,0,0,.7);
}


div.menu > ul > li {
	margin: 0 5px;
}

div.menu > ul > li > ul {
	display: none;
	width: 10em;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, .8);
}

div.menu ul > li:hover > ul {
	display: block;
	position: absolute;
}
div.menu ul > li > ul li{
	margin: 0;
	float: none;
}

div.menu > ul > li > ul > li > a {
	border-bottom: 1px dotted rgba(100,100,100,.5);
}

div.menu > ul > li > ul > li > a:hover{
	background-color: rgba(0,0,0,1);
}