/*
    Document   : layout.menu
    Created on : 20-07-2012, 13:20:03
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/

nav{
	float: right;
	margin-left: 10px;
}

nav > ul{
	margin: 0;
}

nav > ul:hover{
	background: rgba(0, 0, 0, .3);
}

nav > ul > li.menuItemTop{
	float: left;
}

nav > ul > li.menuItemTop > a{
	padding: 11px 20px 12px;
}

nav ul li{
	list-style: none;
}

nav > ul li a{
	display: block;
	padding: 5px 15px 7px;

	font-weight: bold;
	color:#DDD;
	text-decoration: none;
}

nav > ul li a:hover{
	color:#fff;
}

nav > ul > li:hover > a{
	background-color: rgba(0, 0, 0, .3);
}


nav > ul > li {
	margin: 0 5px;
}

nav > ul > li > ul {
	display: none;
	width: 10em;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, .3);
}

nav ul > li:hover > ul {
	display: block;
	position: absolute;
	z-index: 2;
}
nav ul > li > ul li{
	margin: 0;
	float: none;
}

nav > ul > li > ul > li > a {
	border-bottom: 1px dotted rgba(100,100,100,.5);
}

nav > ul > li > ul > li > a:hover{
	background-color: rgba(0, 0, 0, .5);
}