/*
    Document   : layout.general
    Created on : 12-07-2012, 11:01:55
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/

* {
	margin: 0;
	padding: 0;
}


/** General Style Info **/
body{
	font-family: 'Helvetica Neue',Helvetica,Verdana,sans-serif;
	/*font-family: "Lucida Grande","Lucida Sans Unicode","Eras Medium ITC","DejaVu Sans",Helvetica,Verdana,sans-serif;*/
	/*font-family: 'lucida grande', verdana, helvetica, arial, sans-serif;*/
	font-size: 90%;
	color: #DDD;

	background-color: #222;
	background-image: url('../img/background_big.jpg');
	background-repeat: repeat;
	background-position: top left;
	margin: 0;
	overflow-y: scroll;
}

a {
	/*color: #87D7FF;*/
	color: #55CCFF;
	/*	font-weight: bold;*/
	text-decoration: none;
}

a:hover {
	color: #F65D10;
	text-decoration: underline;
}

a img, h1 img, h2 img{
	vertical-align: middle;
}

a img {
	border: none;
}


h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom: 0.5em;
	line-height: 100%;
	/*	font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;*/
}

h1 {
	color: #46C2FF;
	/*color: #0088BB;*/
}
h2 {
	color: #F65D10;
	/*	color: #e32;*/
}
h3 {
	color: #48C4FF;
	font-weight: bold;
}
h4 {
	color: #993;
}

ul, ol, li {
	margin: 0 12px;
}

ul, ol{
	margin-bottom: 10px;
}

p {
	margin: 0 0 1em 0;
}

hr{
	border:none;
	border-bottom: 1px dotted #999;
}

.text-bold{
	font-weight: bold;
}

.text-green{
	color: #3B8230;
}

.text-red{
	color: #9E2424;
}

.text-grey{
	color: #999;
}

.hidden{
	display:none;
}

.chzn-container{
	color: #666;
}

.chzn-drop{
	margin: 5px 0 0 5px;
}

.custom-tooltip-styling{
	display: inline-block;
	background: rgba(0,0,0,0.95);
	padding: 5px;
}

.loading_indicator{
	margin:5px 5px 15px;
	text-align: center;
}

/** Header **/
#header, #footer{
	background: rgba(0, 0, 0, .3);
}

.box_inline{
	background-color:rgba(0, 0, 0, .3);
	padding:5px 10px;
}

#header{
	height:40px;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
}

#header > div{
	width:950px;
	margin: 0 auto;
}

#header > div > a {
	float:left;
	margin: 8px 0 0 8px;
}

#header > div > a img{
	opacity: .7;
	height:25px;
}

#footer{
	clear:both;
	padding:10px;
	border-top: 1px solid rgba(0, 0, 0, .5);
	padding-bottom: 50px;
}

#sponsors table{
	margin: 5px auto;
	width: auto;

}

#sponsors table td{
	border:none;
	text-align: center;
	padding:5px;
}

#sponsors table a{
	display: block;
	padding: 2px;
	margin: 0 5px;
}

#sponsors a > img{
	opacity: .5;
}

#sponsors a:hover > img{
	/*	opacity: 1;*/
}

#sponsors ul li a{
	text-align: center;
}

#copyright{
	padding:10px 0;
	clear:both;
	text-align:center;
	opacity:.7;
}


/** Layout **/

#container{
	width:950px;
	margin:0 auto;
}

#content{
	clear: both;
	padding: 10px 0 20px 0;
}

#content > div.content div.box, #content > #sidebar > div{
	background: rgba(0, 0, 0, .3);
	border: 1px solid rgba(0, 0, 0,.5);
	margin:0 0 10px;
}

#content > div.content div.box{
	padding: 5px 8px 10px;
}


/** containers **/

#content > div.content{
	float: right;
	width: 670px;
}


/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}

.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}

.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}

.paging > span:hover {
	background: #efefef;
}

.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.paging .disabled {
	color: #ddd;
}

.paging .disabled:hover {
	background: transparent;
}

.paging .current {
	background: #efefef;
	color: #c73e14;
}



/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}

fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}

fieldset legend {
	color: #48C4FF;
	font-size: 160%;
	font-weight: bold;
}

fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}

fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}

fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}

form div {
	clear: both;
	margin-bottom: 1em;
	padding: .4em;
	vertical-align: text-top;
}

form .input {
	/*	color: #444;*/
}

form .required {
	font-weight: bold;
}

form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}

form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}

label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}

input, textarea {
	clear: both;
	font-size: 130%;
	/*	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;*/
	font-family: 'Helvetica Neue',Helvetica,Verdana,sans-serif;
	/*font-family: "Lucida Grande","Lucida Sans Unicode","Eras Medium ITC","DejaVu Sans",Helvetica,Verdana,sans-serif;*/
	/*padding: 1%;*/
	width:92%;
	color:#DDD;
}

select {
	clear: both;
	font-size: 120%;
	/*vertical-align: text-bottom;*/
	background-color:rgba(0,0,0,.2);
	border:1px solid rgba(100,100,100,.7);
	color:#DDD;
	font-family: 'Helvetica Neue',Helvetica,Verdana,sans-serif;
	/*font-family: "Lucida Grande","Lucida Sans Unicode","Eras Medium ITC","DejaVu Sans",Helvetica,Verdana,sans-serif;*/
	width:auto;
}

select[multiple=multiple] {
	width: 100%;
}

option {
	font-size: 120%;
	padding: 0 3px;
	background-color:rgba(0,0,0,.9);
}

input[type=checkbox] {
	clear: left;
	float: left;
	margin: 4px 5px 4px 0;
	width: auto;
}

div.checkbox label {
	display: inline;
}

input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}

.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}

input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}

form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 6px 10px;
}

form .submit input[type=submit]:hover {
	background: #5BA150;
}

/* Form errors */
form .error {
	background: rgba(250,180,180,.9);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}

form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}

form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}

p.error em {
	font-weight: normal;
	line-height: 140%;
}

.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}

.success {
	color: #fff;
}

/** Related **/
.related {
	clear: both;
	display: block;
}




/** Elements **/
#url-rewriting-warning {
	display: none;
}





.ui-tabs{
	margin: -2px -6px 3px -6px;
	background: none;
	border: none;
}

.ui-tabs .ui-tabs-panel{
	padding: 0;
}

.ui-tabs .ui-tabs-nav{
	padding: .2em .5em 0;
}

.ui-tabs a.ui-tabs-anchor{
	display:block !important;
	padding:6px 9px 4px !important;
}

.ui-tabs a.ui-tabs-anchor i{
	font-size: 16pt !important;
}

.ui-tabs, .ui-tabs-nav, .ui-tabs-panel{
	-moz-border-radius: 0 !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}



.floated-list > .item{
	float: left;
	padding: 8px;
	margin: 3px;
	background-color: rgba(0,0,0, .5);
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;

	opacity: 0.85;

	position: relative;
}

.floated-list > .item:hover{
	opacity: 1;
}

.floated-list > .item > img{
	display: block;
	margin: 0 auto;
}

.floated-list:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.floated-list a{
	text-decoration: none;
}


.floated-list > .item > .bottom{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, .5);
	color: #000;
}


#news-feed h1{
	margin: 5px 0 15px 0;
	border-bottom: 1px dotted #777;
}

#news-feed .item{
	border-bottom: 1px dotted #666;
}

#news-feed h3{
	font-weight: normal;
	color: #999;
	margin-bottom: 2px;
}