/*
    Document   : layout.admin.css
    Created on : 07-08-2012, 17:03:29
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/

.admin_menu{
	list-style: none;
}

.admin_menu > li{
	float:left;
	margin: 0;
}

.admin_menu > li > a{
	font-size: 13pt;
	display:block;
	width:100px;
	text-align: center;
	background: #DDD;
	padding:5px;
	margin:0 5px;
}

.admin_menu > li > a:hover{
	background: #CCC;
}

table.pizza_order_list tbody tr td.order_status, table.order_list tbody tr td.order_status{
	width:.3em;
}
table.pizza_order_list tbody tr td.order_status_yellow{
	background-color: rgba(240, 255, 0, 0.4);
}

table.pizza_order_list tbody tr td.order_status_green, table.order_list tbody tr td.order_status_green{
	background-color: rgba(50, 255, 50, 0.4);
}

table.pizza_order_list tbody tr td.order_status_red, table.order_list tbody tr td.order_status_red{
	background-color: rgba(255, 50, 50, 0.4);
}

#user_lookup_input{
	display: block;
	margin:0 auto;
}


#box_make_payment{
	float:right;
	width:200px;
}