/*
    Document   : layout.general
    Created on : 12-07-2012, 11:01:55
    Author     : DenGalePirat
    Description:
        Purpose of the stylesheet follows.
*/



#header {
	
}

#footer {
	
}

#container {
	
}

#container_main {
	
}

#container_left {
	
}