/*
    Document   : layout.tables
    Created on : 07-09-2012, 17:04:13
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/

table {
	clear: both;
	margin-bottom: 20px;
	width: 100%;
}

th {
	border: 0;
	border-bottom: 2px solid #555;
	text-align: left;
	padding: 4px;
}

th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}

th a.asc:after {
	content: ' ⇣';
}

th a.desc:after {
	content: ' ⇡';
}

table tr td {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #333;
}

table tr:nth-child(even) {
	background: rgba(0,0,0, .2);
}

td.actions {
	text-align: center;
	white-space: nowrap;
}

table td.actions a {
	margin: 0px 6px;
	padding: 2px 5px;
}



/* Administrativable */
table tr a img{
	opacity: .2;
}

table tr img{
	vertical-align: middle;
}

table tr:hover a img{
	opacity:.6;
}

table tr a:hover img{
	opacity: 1;
}