/* 
    Document   : layout.admin.images.css
    Created on : 24-01-2013, 11:14:01
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/

#image-list{

}

#image-list > div{
	float: left;
	padding: 8px;
	margin: 0 5px 5px 0;
	background: rgba(0,0,0, .5);
}

#image-list > div > *{
	display: block;
	text-align: center;
}

#image-list:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}