/*
    Document   : layout.sidebar
    Created on : 08-09-2012, 14:45:16
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/


#sidebar {
	float: right;
	width: 265px;
}

#sidebar h1, #sidebar a{
	color: #DDD;
}

#sidebar a:hover{
	color: #FFF;
}

#sidebar > div{
	padding-bottom:5px;
}

#sidebar h1, #sidebar h2, #sidebar h3 {
	padding: 5px 10px;
	margin:0;
}

#sidebar h1{
	font-size: 150%;
}

#sidebar h2{
	font-size: 135%;
}

#sidebar h3{
	font-size: 120%;
}

#sidebar ul{
	margin:0;
}

#sidebar p{
	padding:5px 10px 0;
	margin-bottom:5px;
}

#sidebar ul li {
	margin:0;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;

}

#sidebar ul li a {
	display: block;
	padding: 4px 15px 6px;
	text-decoration: none;
}

#sidebar ul li a:hover{
	background-color: rgba(0,0,0,.3);
}