/*
	Styles for the right menu of the Pizza page

	On top is the waves, and further down the order comes
*/

#pizza_order, #pizza_waves{
	padding:5px;
}

#pizza_order > h1, #pizza_waves > h1{
	text-align: center;
}

/*
	Styles for Pizza waves
*/

#pizza_waves div strong, #pizza_waves div > a{
	display: block;
}

#pizza_waves div strong{
	padding-left:18px;
	background: url('../img/16x16_GIF/action_check.gif') left center no-repeat;
	cursor:default;
}

#pizza_waves div > a{
	margin-left:10px;
	padding-left:8px;
}


/*
	Syles for Pizza-order
*/
#pizza_order div.wave_selected_id{
	display: none;
}

#pizza_order table tr:first-child th{
	text-align:center;
}

#pizza_order table td:nth-child(4), div#pizza_order table tr:last-child td:nth-child(2){
	text-align:right;
}

#pizza_order .pizza_order_buttons small{
	float:right;
}

#pizza_order .pizza_order_buttons > a{
	font-weight: bold;
	display: block;
	float: left;
	padding: 5px;
}

#pizza_order .pizza_order_buttons > a:hover{
	background-color: rgba(0,0,0,.4);
}



/*
	Styles for Pizza List

	Each Pizza-category has a table with it's pizzas within
*/
table.pizza_list{
	margin-bottom:25px;
}

table.pizza_list tr.pizza_category th{

}

table.pizza_list tr.pizza_item td .hidden{
	display: none;
}
table.pizza_list tr.pizza_item td{
	cursor: default;
}


table.pizza_list tr.pizza_item.gray{
	color: #888;
}


/*
	Hidden images is used for the orderable state of the pizza list (Javascript)
*/
.hidden_images{
	display: none;
}
