div.pizza_order{
	width:32%;
	float:right;
	border:1px solid #CCC;
	padding:5px;
}

div.pizza_order table tr:first-child th{
	text-align:center;
}

div.pizza_order table td:nth-child(4), div.pizza_order table tr:last-child td:nth-child(2){
	text-align:right;
}

table.pizza_list{
	width:66%;
	clear:none;
	margin-bottom:20px;
}

table.pizza_list tr.pizza_category th{

}

table.pizza_list tr.pizza_item td .hidden{
	display: none;
}

/* Styles for ordering a pizza add-icon */
table.pizza_list tr.pizza_item td a, table.pizza_list tr.pizza_category th a{
	visibility: hidden;
	opacity: .6;
}

table.pizza_list tr.pizza_item:hover td a, table.pizza_list tr.pizza_category:hover th a{
	visibility: visible;
}

table.pizza_list tr.pizza_item td a:hover, table.pizza_list tr.pizza_category th a:hover{
	opacity: 1;
}

table.pizza_list tr.pizza_item.gray{
	color: #888;
;}
