/*
    Document   : print
    Created on : 11-10-2012, 12:54:12
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/

body{
	font-family: "Lucida Grande","Lucida Sans Unicode","Eras Medium ITC","DejaVu Sans",Helvetica,Verdana,sans-serif;
}

