/* 
    Document   : signup_codes
    Created on : 09-02-2013, 22:02:41
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/

body{
	margin: 0;
	padding: 0;
	font-size: 10pt;
}

.signup_ticket{
	width: 8.8cm;
	height: 4.3cm;
	float:left;
	position: relative;
	padding:0.5cm 0.3cm 0;
}

.table{
	margin-top: 20px;
}

h1, p{
	margin: 0;
}

h1{
	text-align:center;
}

h2{
	font-size: 11pt;
	margin: 0;
}

.url{
	display:block;
}

.price{
	font-size: 14pt;
}

img{
	width: 100px;
}

.corner{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0.5cm;
	width: 0.5cm;

	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

.pagebreak{
	clear:both; 
	page-break-after: always;
}