/*
    Document   : layout.menu
    Created on : 20-07-2012, 13:20:03
    Author     : Jens
    Description:
        Purpose of the stylesheet follows.
*/

div.menu{
	float:right;
}

div.menu > ul{
	margin: 5px 0;
}

div.menu > ul > li.menuItemTop{
	float: left;
}

div.menu ul li{
	list-style: none;
}

div.menu > ul li a{
	display: block;
	padding: 5px 15px 7px;
	text-decoration: none;
	color: #fff;
}

div.menu > ul > li {
	margin: 0 10px;
}

div.menu > ul > li > ul {
	display: none;
	width: 10em;
}

div.menu ul > li:hover > ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
}
div.menu > ul > li > ul > li{
	margin: 0;
}

div.menu > ul > li:hover > ul > li {
	float: none;
	border-bottom: 1px solid #333;
}

div.menu > ul > li > a:hover, div.menu > ul > li:hover > ul > li > a {
	background-color: rgba(100, 150, 200, .95);
}